body {
    width: 80%;
    margin: auto;
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#intro {
    width: 60%;
    border: 3px solid lightpink;
}

img {
    display: block;
    margin: auto;
}

#months {
    display: flex;
    gap: 10px;
}
