body {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#intro {
    width: 60%;
    border: 3px solid lightpink;
}

img {
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translate(-50%);
    /* animation: write ease-in-out 1.33s infinite alternate; */
}

@keyframes write {
    10% {
        bottom: 2%;
    }
    25% {
        bottom: 0;
    }
    45% {
        bottom: 4%;
    }
    50% {
        left: 30%;
        bottom: 1%;
    }
    55% {
        bottom: 3%;
    }
    70% {
        bottom: 0;
    }   
    85% {
        bottom: 6%;
    }
    90% {
        bottom: 2%;
    }
    100% {
        left: 70%;
        bottom: 0;
    }
    
}

.showMonths {
    display: flex;
    gap: 70px;
}

.showMonths div {
    display: flex;
    flex-direction: column;
}
