/* general */

body {
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    transition: all 1s ease-out;
}

 header #top {
    width: 90%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;  
 }

 h1, h2, h3 {
    font-weight: bold;
 }

 h2 {
    font-style: italic;
 }

 img {
    width: 90%;
    display: block;
    margin: auto;
 }

 main {
    display: flex;
    width:  90%;
    margin: 1em auto;
    justify-content: space-around;
    gap: 15px;
 }

 main section {
    flex: 1;
    aspect-ratio: 3/4;
    padding: 15px 35px;
 }

 main section nav ul {
    list-style: none;
    padding-left: 0;
 }

main section nav {
    margin-top: 0;
}

main section h3 {
    margin-bottom: 0;
}

 main section nav ul li a {
    text-decoration: none;
    line-height: 1.6em;
    
 }

 /* girlyPop Class */

.girlyPop  {
    background-color: #F9C7CA;
    color: #EF6788;
    font-family: 'PT Serif', serif;
}

.girlyPop h1, .girlyPop h2, .girlyPop h3 {
    font-family: 'Playfair Display', serif;
    color: #EF6788;
    /* background-color: #F6EBE9; */
}

.girlyPop main section {
    background-color: #F6EBE9;
    border-radius: 15px;
    box-shadow: inset 0px -1px 10px 6px rgba(240, 163, 168, 0.25);
}

.girlyPop main section nav ul li a:visited  {
    color: #EF6788;
 }

.girlyPop main section nav ul li a:hover  {
    background-color: #F0A3A8;
    color: white;
 }

 #heart {
    display: none;
 }

  /* punkPop Class */

.punkPop  {
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}

.punkPop h1, .punkPop h2, .punkPop h3 {
    font-family: 'Exo 2', sans-serif;
    color: #C24CEC;
}

.punkPop main section {
    border: 5px #C24CEB dotted;
}


.punkPop main section nav ul li a, .punkPop main section nav ul li a:visited  {
    color: white;
 }

.punkPop main section nav ul li a:hover  {
    color: #C24CEB;
    text-decoration: underline;
 }

 #spade {
    display: block;
 }
