body {
    width: 80%;
    margin: auto;
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #915b26;
}

h1 {
    text-align: center;
}

h2, h3 {
    width: 60%;
    margin: auto;
    padding: 2%;
}

img {
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

iframe {
    width: 80%;
    height: 80vh;
    display: block;
    margin: auto;
}

figcaption {
    width: 60%;
    margin: auto;
    padding: 1%;
    text-align: right;
    font-style: italic;
    color: #b46d26 ;
}

p, ul {
    width: 60%;
    margin: auto;
    line-height: 1.5em;
}

section {
    padding: 2%;
}

a {
    color: #b46d26;
}

#testImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#testImgs img {
    display: block;
    margin: 0;
}